.swiper {
    width: 100%;
    height: 500px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
.swiper-button-prev {
      left:150px;
      padding: 30px;
      color: #000 !important;
      fill: black !important;
      stroke: black !important;
}
.swiper-button-next {
    right:150px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}
@media(max-width:744px){
  .swiper-button-next{
    padding-left: 100px;
  }
  .swiper-button-prev{
    padding-right: 100px;
  }
}
@media(max-width:564px){
  .swiper-button-next{
    left: 390px;
  }
  .swiper-button-prev{
    left: 20px;
  }
}
@media(max-width:532px){
  .swiper-button-next{
    display: none;
  }
  .swiper-button-prev{
    display: none;
  }
}
