.catalog{
    margin-bottom: 40px;
    &__title{
        margin-bottom: 10px;
        font-weight: 600px;
        font-size: 20px;
        line-height: 24px;
        color:#1C1C27;
    }
    &__inner{
        display: flex;
        column-gap: 100px;
    }
}
@media(max-width:955px){
    .catalog__inner{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
}